<div>
<button  class="btn btn-primary" (click)="logout()" style="float: right;">Logout</button>
</div>

<div class="card text-center">
    <div class="card-header">
      AADHAR CARD
    </div>
    <div class="card-body">
      <h5 class="card-title">{{userData?.aadharNumber | aadharNumber}}</h5>
      <p class="card-text">{{userData?.firstName}}&nbsp;{{userData?.lastName}}</p><br>
      Address:
      <p class="card-text">{{userData?.address1}} <br> {{userData?.address2}}</p><br>
      <p class="card-text">City:{{userData?.city}} <br> Pincode:{{userData?.pincode}}</p><br>

      Phone:{{userData?.phone}}
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>
<!-- 
  {
    "_id" : ObjectId("62bff66030e3b86ad41a6eeb"),
    "userId" : "988edbec-50e8-42fd-8e6b-62f14d955f9a",
    "createdAt" : ISODate("2022-07-02T07:40:16.095Z"),
    "lastInteraction" : ISODate("2022-07-02T07:40:16.095Z"),
    "aadharNumber" : "734436846957",
    "isDeleted" : false,
    "firstName" : "testone",
    "lastName" : "testone",
    "address1" : "testone123",
    "address2" : "testone1231",
    "email" : "test1@mailinator.com",
    "city" : "asdadasd",
    "pincode" : 85454444,
    "phone" : 84651385,
    "password" : "$2a$10$Ji28CN/Fthd5aE47mSV3uOlkybwnNFs7AtJCkTcxIA84I0XEqrcX6",
    "role" : 2
} -->